#hdr {
    height: 240px;
}

.main_title {
    font-size: 42px;
    letter-spacing: 0.15em;
    margin-top: 10px;
    margin-bottom: 0;
}

.subtitle {
    font-size: 22px;
    letter-spacing: 0.19em;
    line-height: 0.9em;
    margin-top: 10px;
    margin-bottom: 0;
}

#hdr_link1 {
    margin-left: -30px;
}

#hdr_link2 {
    margin-left: 30px;
}

.disc {
    font-size: 18px;
    color: #ff0000;
    line-height: 0.9em;
    margin-top: 20px;
    margin-bottom: 0;
}

a.non_std {
    color: #ff0000;
    text-decoration-line: none;
}

a.non_std2 {
    color: #000;
    text-decoration-line: none;
}

#artc {
    height: 320px;
}

#ftr {
    height: 120px;
}

#box_A, #box_C, #box_D, #box_F {
    display: none;
}

#box_A, #box_B, #box_C {
    width: 100%;
    height: 240px;
    text-align: center;
}

#box_E {
    height: 100%;
    background-image: url(../IMAGES/P51_Homepage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*float: right;*/
}

#box_G, #box_H, #box_I {
    height: 100px;
}

#box_G {
    z-index: 10;
}

#box_H {
    background: linear-gradient(to right top, #ffffff, #8e8888);
    z-index: 9;
    width: 56.666%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

#box_I {
    background: linear-gradient(to right bottom, #8e8888, #ffffff);
    z-index: 9;
    width: 35%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

#box_J {
    height: 40px;
    float: left;
    clear: left;
    margin-top: -32px;
}

ul.ftr_links {
    list-style-type: none;
    margin: 40px auto auto auto;
}

.horiz {
    display: inline;
    font-size: 20px;
    margin-right: 25px;
}

.icons {
    width: 45px;
    margin-top: 25px;
    margin-right: 10px;
    float: right;
}

.scaled {
    /*width: 100%;*/
    width: 40px;
    height: 40px;
    border-radius: 5px;
    float: right;
}

.legal {
    font-size: 12px;
    text-align: center;
}